:host{
  ::ng-deep .p-card{
    margin: 30px;
  }
}

h2{
  text-align: center;
}
.selectdiv {
  float: left;
  min-width: 200px;
  margin: 10px;
}

.selectdiv:after {
  color: red;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
/* display: none; */
}


.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #495057;

  background-image: url("../../../assets/img/expand_more_FILL0_wght400_GRAD0_opsz48.svg");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 2rem auto, 100%;

  border: 1px solid #b2bfcc;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 5px;

}
.d-flex{
  display:flex;
}
.d-block{
  display:block;
}
.justify-between{
  justify-content:space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-evenly{
  justify-content: space-evenly;
}
.justify-start{
  justify-content:start;
}
.justify-fstart{
  justify-content:flex-start;
}
.aligin-center{
  align-items:center;
}
.direction-column{
  flex-direction:column;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-33{
  width: 33%;
}
.max-w-100{
  max-width: 100%;
}
