.header{
  width: 100%;
  color: #fff;
  background-color: #ed1c27;
  position: relative;
  height: 90px;
}
.d-flex{
  display: flex;
}
.flex-d-column{
  flex-direction: column;
}
.justify-content-around{
  justify-content: space-around;
}
