<div class="header" >
  <div class="red-header d-flex justify-content-around">
    <img src="../../../assets/img/TC_Logo.png" alt="" style="max-height: 35px; margin: 2%;">
    <div style="height: 90px; justify-content: center;width: 10%;" class="d-flex flex-d-column">
        <div class="d-flex justify-content-around">
          <img src="../../../assets/img/personas.png" alt="" style="max-height: 35px; margin: 2%;">
    <!-- <i style="font-size: 24px;" data-src="../../../assets/img/personas.png" class=" d-flex flex-d-column"></i> -->
          <h4 style="margin: 0; font-size: 24px; font-family: HerlevticaNeueLTStd;">CANDIDATOS</h4>
        </div>
        <div style="bottom: 0;position: absolute; width: 10%;" class="d-flex justify-content-around">
          <img src="../../../assets/img/ico-indicador.png">
        </div>
    </div>
    <div style="height: 90px; justify-content: center;width: 10%; background: #595959;" class="d-flex flex-d-column">
      <div class="despliegue-login" >
        <div class="d-flex" style="justify-content: space-evenly !important;">
          <i style="font-size: 24px; margin-top: 15%;" class="pi pi-lock d-flex flex-d-column"></i>
          <p style="font-weight: bold;font-size: 18px; font-family: HerlevticaNeueLTStd;">
            INGRESO
          <br>CLIENTES
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="white-header">

  </div>
</div>
